<div class="banner">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-6 align-self-center">
                <h1>SAVE MONEY ON BEER FROM THE BEER STORE</h1>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-light startNowButton">Start Now</button>
                </div>
            </div>
            <div class="col-4">
                <div id="beerBannerAnimation">
                </div>
            </div>
        </div>
    </div>
</div>