<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Beer Boss</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <!--Favicon-->
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <!--Bebas Neue-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175176340-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175176340-1');
  </script>
</head>

<body>
  <%- include partials/nav.ejs %>

  <!-- FAQ -->
  <h1 id="faqtitle"class="text-center">FAQ</h1>

  <div class="container-fluid faq">
  <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is the purpose of this website? What can I do with it?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        You can use this site to make smart purchasing decisions when buying from The Beer Store. This site makes it easy for you to compare beers, so you get the most bang for your buck! If you aren't picky about what you drink and want to get the most alcohol for the least amount of money, you can simply sort the “All Beer Prices” table by “Cost per serving of alcohol.”
        <br>
        <br>
        If you have your mind set on one particular beer, you can use the "Best Value Analyzer" to determine what package size has the best value (larger packs are frequently the best value, but not always!).
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What is "Cost per serving of alcohol" in the table?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Cost per serving of alcohol is the most important metric in determining beer value. Beer Boss makes it easy to find which beers have a very low cost per serving of alcohol.
        For the purposes of this website, one “serving” is equivalent to the alcohol contained in a regular 5% can of beer (355ml with a 5% ABV).
        <br>
        <br> 
        A standard drink contains about 17.75 ml of pure alcohol (355ml * 5% = 17.75ml). A 6 pack of 355ml cans of Budweiser costs $13.25. Budweiser has an ABV of 5%. So, the cost per drink for that pack is $2.21.
        Here is the formula behind it:
        <br>
        <img id="equation" src="images/equation1.PNG" alt="equation">
        <br>
        Knowing the cost per serving of alcohol allows you to compare beers to find the best value options.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Why do I see the same beer appearing multiple times?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        The table lists every purchasing option avalible for each beer. (24 pack, 6 pack, bottles, cans, etc.) This is why you will see the same beer name multiple times.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          The table is confusing. Tell me what the cheapest beer is.
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid favourites">
          <h2 class="text-center">Beer Boss Favourites</h2>
          <p class="text-center">Below are some of the absolute <b>cheapest</b> beers you can buy at The Beer Store right now. If you are looking for the most alcohol per dollar with a decent taste, this handpicked list of beers is for you. If you are looking for a complete list of the cheapest beers in Ontario, check out the <a href="/all">All Beer Prices</a> tool.</p>
          <div class="row">
            <div class="col-12 col-lg-4">
              <h5>Boxer Ice</h5>
              <img class="mx-auto d-block" src="./images/beer-images/boxer-ice.png" alt="">
              <p>This beer is the cheapest beer you can buy in a single can in Ontario. Compared to similar beers like Budweiser or Molson Canadian, you are getting around <b>40%</b> more alcohol per dollar. </p>
            </div>
            <div class="col-12 col-lg-4">
              <h5>Laker Ice</h5>
              <img class="mx-auto d-block" src="./images/beer-images/laker-ice.png" alt="">
              <p>Laker Ice is slightly more expensive than the absolute cheapest beers in Ontario, but it makes up for it in availability. Laker Ice can be found at every beer store in Ontario and consistently tops the charts for most alcohol per dollar.</p>
            </div>
            <div class="col-12 col-lg-4">
              <h5>Pabst Blue Ribbon 5.9</h5>
              <img class="mx-auto d-block" src="./images/beer-images/pbr.png" alt="">
              <p>PBR 5.9 is another decent tasting beer at an outstanding price. Comparing this to much more popular beers like Canadian or Budweiser (which cost $1.75+ per serving of alcohol), you are getting at least <b>25%</b> more alcohol per dollar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <a class="github-button" href="https://github.com/andrewsemchism" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" aria-label="Follow @andrewsemchism on GitHub">Follow @andrewsemchism</a>
</div>
</div>


  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- slim jQuerry for bootstrap. Not needed -->
  <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- Github Buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
