h1 {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 36px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
}

@media (min-width:992px)  {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width:1400px)  {
  h1 {
    font-size: 58px;
  }
}

/*----- BeerBoss Favourites --------*/
.favourites h5 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 16px;
}

.favourites a {
  color: black;
}

.favourites h2 {
  margin-bottom: 16px;
}

.favourites .col-12 {
  border-right:  1px solid rgb(187, 187, 187);
}
.favourites .col-12:last-of-type {
  border-right:  none;
}

.favourites .row {
  margin-bottom: 18px;
}

.favourites img {
  height: 200px;
  margin-bottom: 10px;
}

#faqtitle {
  padding-top: 10px;
}

.faq .card-header {
  background-color: #fff;
}

.faq .card-header .btn-link {
  color: black;
}

.faq .card-header .btn.focus, .btn:focus {
  box-shadow: none;
  text-decoration: none;
}

.faq .card-header .btn:hover {
  text-decoration: none;
  color: #777777;
}

.card-body {
  font-family: Roboto;
  font-weight: 300;
}

#equation {
  width: 100%;
}

@media (min-width:500px)  {
  #equation {
    width: 400px;
  }
}