/* Banner */

.banner {
  background-color: #3a4047;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h1 {
  font-family: "Bebas Neue";
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 14px;
}

.startNowButton {
  display: none;
  font-family: "Bebas Neue";
  font-size: 30px;
  padding-top: 8px;
}

@media (min-width:350px)  {
  h1 {
    font-size: 30px;
  }
}

@media (min-width:390px)  {
  h1 {
    font-size: 34px;
  }
}

@media (min-width:420px)  {
  h1 {
    font-size: 36px;
  }
}

@media (min-width:500px)  {
  h1 {
    font-size: 44px;
  }
}

@media (min-width:600px)  {
  h1 {
    font-size: 52px;
  }
}

@media (min-width:992px)  {
  .startNowButton {
    display: block;
  }
  h1 {
    font-size: 60px;
  }
}

@media (min-width:1140px)  {
  h1 {
    font-size: 72px;
  }
}

/* How to use Beer Boss */

h2 {
  font-family: "Bebas Neue";
  font-size: 36px;
}

@media (min-width:650px)  {
  h2 {
    font-size: 48px;
  }
}

p {
  font-weight: 300;
  font-size: 14px;
  font-family: Roboto;
}

@media (min-width:520px)  {
  p {
    text-align: center;
    font-size: 18px;
  }
}

/* Cards */

h5 {
  font-family: Roboto;
  font-weight: 500;
}

.allBeerPrices {
  margin-bottom: 15px;
}

.bestValueAnalyzer {
  margin-bottom: 15px;
}

.btn-card {
  font-family: Roboto;
  font-weight: 500;
}

.card-pic {
  height: 125px;
  display:block;
  margin:auto;
}

@media (min-width:992px)  {
  .card-pic {
    height: 200px;
  }
}

@media (min-width:500px)  {
  .card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  }
}
