.carousel .carousel-inner .carousel-item {
  overflow: hidden;
  max-height: 600px;
}

/* Change fonts */
.navbar-brand {
  font-family: "Bebas Neue";
  color: #e99a2c !important;
  font-size: 5rem;
}
.nav-link {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:5px;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 5rem;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 2.6rem;
}

h3 {
  font-family: "Bebas Neue";
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

.navbar-toggler-icon{
  width: 60px !important;
  height:60px !important;
}

/* Adjust carousel caption placement */
.carousel-caption {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  top: 50%;
  transform: translateY(-50%);
}

/* Main Banner Text */
.carousel-caption h2 {
  font-size: 4.5rem;
  line-height: 0.85;
}

.startnow {
  width: 9rem;
}

/* All Beer Prices Section*/

#beerTable {
  display: none;
}

#allbeerprices {
  padding-top: 20px;
  position: relative;
}

#allbeerpricestitle {
  padding-top: 1.5rem;
}

#allbeerprices p {
  padding: 2% 1% 1% 1%;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: rgba(170,175, 180, 0.9) !important;
  border-color: rgba(170,175, 180, 0.9) !important;
}


.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

@media (min-width: 992px) {
  #allbeerprices {
    padding: 0 9%;
  }
}

@media (max-width: 576px) {
  #allbeerprices {
    padding: 0;
  }
}

/*About Page*/

@media (min-width: 992px) {
  .faq {
    width: 80%;
  }
}

.card-body {
  font-size: 1.3rem;
}

.card-header .btn {
  font-size: 1.8rem;
}

#faqtitle {
  padding-top: 10px;
}

.faq .card-header {
  background-color: #fff;
}

.faq .card-header .btn-link {
  color: black;
}

.faq .card-header .btn.focus, .btn:focus {
  box-shadow: none;
  text-decoration: none;
}

.faq .card-header .btn:hover {
  text-decoration: none;
  color: #777777;
}

/* New Changes to FAQ sizing for mobile */

@media (min-width: 576px) {
  .card-body {
    font-size: 2rem;
  }
  .card-header .btn {
    font-size: 2rem;
  }
  #equation {
    width: 100%
  }
}


@media (min-width: 1200px) {
  .card-body {
    font-size: 1.3rem;
  }
  .card-header .btn {
    font-size: 1.3rem;
  }
  #equation {
    width: 50%
  }
}

/* Changes to table for mobile */
@media only screen and (max-width: 992px) {
  #beerTable td {
    font-size: 1.5rem;
  }
  #beerTable th {
    font-size: 1.2rem;
  }
  .filters {
    font-size: 2rem;
  }
  .filters button {
    font-size: 1.8rem;
  }
  .pagination li {
    font-size: 1.8rem;
  }
  #beerTable_info {
    font-size: 1.2rem;
  }
  #beerTable_length label {
    font-size: 1.8rem;
  }
  #beerTable_length select {
    font-size: 1.5rem;
  }
  #beerTable_length option {
    font-size: 1.3rem;
  }

}

/* Footer */
.footer {
  height: 80px;
}

/* Deposit Button */
#depositButton {
  margin: 0.2em 2em;
}

#beerTable_filter label {
  font-size: 1.5em;
}

.filters {
  margin-bottom: 1em;
}


/* ----------Best Value Analyzer---------- */

.best-value-analyzer {
  padding-top: 20px;
}

.beer-dropdown {
  padding-bottom: 10px;
}

#colour-value {
  padding-bottom: 5px; 
}

.best-value-analyzer {
  position: relative;
}

#value-loader {
  background: rgb(254,255,255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

#value-loader h1 {
  padding-top: 20px;
}

#quick-picks button{
  width: 100%;
  height: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#quick-picks .row {
  margin-bottom: 10px;
}

.sf-card-pic {
  height: 200px;
  display:block;
  margin:auto;
}

#using-beerboss {
  padding-top: 20px;
}

.index-card {
  margin-bottom: 50px;
}

.btn-box {
  height: 40px;
}

.btn-box .btn-dark:hover {
  background-color: #6a6d70;
  border-color: #6a6d70;
}

.btn-card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}


#using-beerboss .card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

#using-beerboss .card:hover{
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*----- BeerBoss Favourites --------*/
.favourites h5 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 16px;
}

.favourites a {
  color: black;
}

.favourites h2 {
  margin-bottom: 16px;
}

.favourites .col-12 {
  border-right:  1px solid rgb(187, 187, 187);
}
.favourites .col-12:last-of-type {
  border-right:  none;
}

.favourites .row {
  margin-bottom: 18px;
}

.favourites img {
  height: 200px;
  margin-bottom: 10px;
}



@media only screen and (max-width: 992px) {
  .btn-card {
    font-size: 2.5rem;
    width:420px;
  }
  .btn-box {
    height: 80px;
  }
  h5 {
    font-size: 3rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  h1 {
    font-size: 7rem;
  }
  p {
    font-size: 2.5rem;
  }
  .beer-dropdown .filter-option {
    font-size: 3rem;
  }
  .dropdown-menu {
    max-width: 95%;
  }
  .dropdown-item {
    font-size: 3rem;
  }
  .bs-searchbox .form-control[type="search"] {
    font-size: 3rem;
  }
  .beer-filter {
    font-size: 3rem;
  }
  .form-check-input {
    width: 30px; 
    height: 30px;
  }
  .cost-per-serving-modal {
    max-width: 90%;
  }
  .cost-per-serving-modal button[data-dismiss="modal"] {
    font-size: 2rem;
  }
  #quick-picks button {
    font-size: 2.5rem;
    height: 140px;
  }
  .favourites .col-12 {
    border-right:  none;
  }
  .favourites img {
    height: 400px;
    margin-bottom: 10px;
  }
  .favourites h5 {
    font-size: 3.5rem;
  }
  
}

/*------- Best value analyzer table --------- */
@media only screen and (max-width: 992px) {
  .best-value-analyzer #value-table_wrapper {
    font-size: 1.7rem;
  }
  .best-value-analyzer #value-table_wrapper thead {
    font-size: 1.5rem;
  }
  .best-value-analyzer #value-table_wrapper .cost-per-serving {
    font-size: 2rem;
  }
  .best-value-analyzer .custom-select {
    font-size: 2rem;
  }
  .best-value-analyzer .custom-select option{
    font-size: 1.2rem;
  }
}








