h1 {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 36px;
  margin-top: 10px;
}

.value-introduction {
  display: none;
}

p {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
}

@media (min-width:992px)  {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width:1400px)  {
  h1 {
    font-size: 58px;
  }
}

.page-item.active .page-link {
  background-color: rgba(203, 206, 208, 0.9)  !important;
  border: 1px solid black;
}

.page-link {
  color: black !important;
}

#quick-picks .btn {
  width: 100%;
  height: 80px !important;
  margin-bottom: 10px;
  border: 2px solid rgb(192, 192, 192);
}